<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative mb3">
        <h1 class="f2 f1-l b lh-title mb3 white mw6">
          {{ .title1 }}<br/>{{ .title2 }}
        </h1>
      </div>
      <div class="mw7 relative">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>

<figure class="logo animated fadeInDown delay-07s">
  <a href="#"><img src="img/hot-air-balloon-white-round-text.svg" alt="Hot Air Balloon Launch Psychology Logo"></a>
</figure>
<header class="header" id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
          <h1 class="animated fadeInDown delay-07s">From surviving <br/>to thriving.</h1>
          <ul class="sub-heading animated fadeInUp delay-04s">
            <li>The psychology practice for those who want more.</li>
            <li>More meaning. More connection. More challenge.</li>
            <li>More of the stuff of life.</li>
          </ul>
          <p class="sub-heading animated fadeInUp delay-04s">We offer psychology &amp; neuropsychology services.</p>
          <a class="link animated fadeInUp delay-04s servicelink" href="#philosophy">Learn more</a>
      </div>
    </div>
  </div>
</header>
<!--header-end-->
