<div class="pv5 pv6-l ph3 bg-center cover" style="background: linear-gradient(to right,rgba(2,43,58,.6),rgba(0,0,0,.4)),url('{{.imageUrl}}') no-repeat fixed 100% 0/cover">
  <div class="mw7 center">
    <div class="db mb3">
      <div class="mw7 relative mb3">
        <h1 class="f1 f1-l b di lh-title mb3 white mw6 ttc-l">
          {{.title1}} <br/> {{.title2}}
        </h1>
      </div>
      <div class="mw6 relative">
        {{ range .subtitles }}
        <li class="list b f6 lh-copy mb3 white mw6 tracked">
          {{.text}}
        </li>
        {{ end }}
      </div>
    </div>
  </div>
</div>

